body { background: #9da76c; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 28px; display: flex; }
.block-validator-0 { color: #17c73f; font-size: 19px; margin-bottom: 5px; }
.block-invoice-1 { color: #18895f; font-size: 15px; margin-bottom: 5px; }
.block-cluster-2 { color: #9e72c2; font-size: 12px; margin-bottom: 5px; }
.block-sms-3 { color: #814458; font-size: 20px; margin-bottom: 5px; }
.block-search-4 { color: #52af14; font-size: 21px; margin-bottom: 5px; }